.contact_me {
  height: 90vh;
}

.contact__message {
  font-weight: 500;
}

.form__group {
  padding-top: 20px;
}

.form__group label {
  display: inline-block;
  font-weight: 600;
  width: 100%;
}

.form__group input {
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  background: var(--primary-light);
  border: none;
  height: 40px;
  color: var(--text-light);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
}

.form__group input:focus,
textarea:focus {
  /* outline: 1px solid var(--text-light); */
  outline: none !important;
  border: 1px solid var(--text-light);
  /* box-shadow: 0 0 5px var(--text-light); */
}

.form__group input::placeholder {
  color: var(--text-light);
}

.form__group textarea {
  resize: none;
  margin: 10px 0;
  max-width: 100%;
  width: 100%;
  padding: 10px;
  background: var(--primary-light);
  border: none;
  color: var(--text-light);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
}

.form__group textarea::placeholder {
  color: var(--text-light);
}

.form__message {
  display: none;
  width: 100%;
  transition: display ease-in-out 1s;
}
.form__message--show {
  display: block;
}

@media (max-width: 768px) {
  .contact_me {
    height: auto;
  }
}
