.blast {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: -1px;
  display: flex;
  flex-wrap: wrap;
}

.blast__item {
  display: inline-block;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  transition: color ease 0.5s;
  color: var(--primary-main);
}

.blast__item--space {
  width: 10px;
}

.blast__item--animation {
  animation-name: rubberBand;
  color: var(--text-light);
}

.skills__description {
  font-weight: 500;
}

.job__content {
  background: var(--secondary-light);
  padding: 20px;
  border-radius: 16px;
  margin: 10px 0;
}

.job__title {
  font-weight: 700;
}

.job__business {
  font-weight: 500;
  font-size: 12px;
}

.job__date {
  text-transform: uppercase;
  font-size: 10px;
}

@media (max-width: 676px) {
  .blast {
    font-size: 3.5rem;
    justify-content: center;
  }
}
