@import "variables.css";

footer {
  height: 40px;
  /* max-height: 80px; */
  background: var(--primary-bg-light);
  color: var(--text-dark);
  font-weight: 600;
  font-size: 12px;
}

.footer__media {
}
