.nav__mobile_input {
  visibility: hidden;
}

.nav__mobile_menu_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: all 0.5s ease-in-out;
}
.nav__mobile_menu_hamburger {
  width: 20px;
  height: 2px;
  background-color: var(--secondary-main);
  border-radius: 5px;
  z-index: 10;
  transition: all 0.5s ease;
}

.nav__mobile_menu_hamburger::before,
.nav__mobile_menu_hamburger::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: var(--secondary-main);
  border-radius: 5px;
  transition: all 0.5s ease;
}
.nav__mobile_menu_hamburger::before {
  transform: translateY(-6px);
}
.nav__mobile_menu_hamburger::after {
  transform: translateY(6px);
}

/* animation */
.nav__mobile_input:checked ~ .nav__mobile_menu_hamburger {
  transform: translateX(-50px);
  background: transparent;
}
.nav__mobile_input:checked ~ .nav__mobile_menu_hamburger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.nav__mobile_input:checked ~ .nav__mobile_menu_hamburger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

@media (min-width: 768px) {
  .nav__mobile_menu_btn,
  .nav__mobile_menu_hamburger {
    display: none;
  }
}
