.nav {
  height: 40px;
  font-size: 24px;
  z-index: 2;
  background: var(--primary-bg-light);
}

.nav__list {
  display: flex;
  margin: 0;
}

.nav__item {
  padding: 5px 10px;
  font-size: 14px;
  transition: font-size ease 0.5s;
  color: var(--text-dark);
  margin: 0;
}

.nav__item:hover {
  border-top: 4px solid var(--primary-main);
  font-weight: 600;
}

.nav__item--active {
  border-top: 4px solid var(--primary-main);
  font-weight: 600;
}

.nav__item:not(.nav__item--active) {
  margin-top: 4px;
}

.nav__item:not(.nav__item--active):hover {
  margin-top: 0px;
}

.nav__brand {
  position: relative;
  width: 55px;
  height: 50px;
  padding: 10px;
  top: -25px;
  left: 120px;
  background-color: var(--primary-main);
  color: white;
  font-weight: 600;
  border-radius: 8px;
}

@media (min-width: 576px) and (max-width: 768px) {
  .nav__brand {
    left: 50px;
  }
}

@media (max-width: 576px) {
  body {
    overflow: hidden;
  }
  .nav__list {
    flex-wrap: wrap;
  }

  .nav {
    min-height: 60px;
    height: 100vh;
  }

  .nav__item {
    width: 100%;
    padding: 40px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav__item,
  .nav__item--active,
  .nav__item:not(.nav__item--active) {
    margin: 0px;
    border: none;
  }

  .nav__item--active {
    background: var(--primary-main);
    color: var(--text-light);
  }

  .nav__brand {
    left: 5px;
    top: 5px;
  }
} ;
