@import "./variables.css";

html,
body {
  width: 100%;
  height: 100vh;
  overflow: hidden auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Arial", "san-serif";
  background: var(--primary-bg-dark);
}

a {
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

.text-center {
  text-align: center;
}

section {
  /* height: 100%; */
}
