@import "./variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--font-primary);
  font-display: swap;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
  overflow: hidden auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--color-white);
  color: var(--color-black);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

.text-center {
  text-align: center;
}

section {
  margin: 0;
  min-height: 100vh;
  padding-top: 60px;
  padding: var(--padding-extra-large);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0 0 20px 0;
}

input,
textarea {
  font-family: "Montserrat", "Arial", "san-serif";
  font-display: swap;
}

h1 {
  font-size: var(--font-size-large);
}

p {
  font-size: var(--font-size-xsmall);
}

.button {
  display: block;
  padding: 10px 20px;
  margin: 20px 0;
  font-size: var(--font-size-xsmall);
  font-weight: 500;
  border-radius: 24px;
  border: 1px;
  color: #fff;
  text-align: center;
  min-width: 200px;
}

.button__contained {
  /* background: var(--primary-main); */
  color: var(--color-black);
  font-weight: 500;
  transition: background ease 0.5s;
  transition: color ease 0.5s;
  border: 1px solid var(--color-black);
}

.button__contained:hover {
  background: var(--primary-main);
  color: var(--color-white);
}

.button__contained--disabled {
  background: var(--primary-light);
}

.button__contained--margin-right {
  margin-right: 16px;
}

.button__outlined {
  background: transparent;
  color: var(--color-black);
  border: 1px solid var(--color-black);
  transition: background ease 0.5s;
  transition: color ease 0.5s;
  transition: border ease 0.5s;
}

.button__outlined:hover {
  background: var(--primary-main);
  color: var(--color-white);
  border: 1px solid var(--primary-main);
}

.main--blur {
  filter: blur(4px);
}

.text__primary {
  cursor: pointer;
  color: var(--primary-main);
}

.text__primary:hover {
  color: var(--primary-dark);
}

@media (max-width: 768px) {
  section {
    height: auto;
    min-height: inherit;
    padding-top: 60px;
    align-items: start;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }
}

@media (max-width: 576px) {
  section {
    height: auto;
    min-height: inherit;
    padding-top: 60px;
    align-items: start;
    padding: 60px 10px 0 10px;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }
}

@media (min-width: 2000px) {
  .main {
    max-width: 2000px;
    margin: 0 auto;
  }
  section {
    min-height: 600px;
  }
}
