:root {
  --primary-bg-light: white;
  --primary-bg-dark: #010312;
  --primary-main: #f26c4f;
  --primary-dark: #df4727;
  --primary-light: white;
  --secondary-main: #010312;
  --secondary-light: #0c123e;
  /* --secondary-light: white;
  --secondary-light: white;
  --info-main: white;
  --info-light: white;
  --danger-main: white;
  --danger-light: white;
  --warning-main: white;
  --warning-light: white; */
  --text-light: white;
  --text-dark: #010312;
}
