@import "variables";

.nav {
  background-color: mat-color($primary);
  padding: 0 12px;
  height: 60px;
}

.nav__scrolled {
  background-color: rgba(0, 0, 0, 0.692);
}

.nav__title {
  text-decoration: none;
  color: white;
  margin : 14px 0;
}

.menu {
  display: flex;
  list-style: none;
}

.menu__item {
  margin: 2px 16px;
  color: white;
}

.menu__item:hover {
  color: mat-color($accent);
}

.menu__button {
  display: none;
}
