<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [ngClass]="{
      'sidenav--desktop': isDesktopMode,
      'sidenav--mobile': !isDesktopMode
    }"
    [mode]="isDesktopMode ? 'side' : 'over'"
    [position]="'start'"
  >
    <mat-list> </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <jm-nav
      [home]="home"
      [about]="about"
      [portfolio]="portfolio"
      [contact]="contact"
      (sideNavChange)="sidenav.toggle()"
    ></jm-nav>
    <main class="main">
      <section #home class="home">
        <h1>Hola soy desarrollador web</h1>
        <div class="col-md-12"></div>
        <!-- <div class="row">
        </div> -->
      </section>
      <section #about class="about">about</section>
      <section #portfolio class="portfolio">portfolio</section>
      <section #contact class="contact">contact</section>
      <jm-footer></jm-footer>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
