<jm-nav
  [home]="home"
  [about]="about"
  [portfolio]="portfolio"
  [contact]="contact"
  (sideNavChange)="sidenav.toggle()"
></jm-nav>
<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [ngClass]="{
      'sidenav--desktop': isDesktopMode,
      'sidenav--mobile': !isDesktopMode
    }"
    [mode]="isDesktopMode ? 'side' : 'over'"
    [position]="'start'"
  >
    <mat-list> </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh">
      <main class="px-4 pb-4">
        <div class="container-fluid">
          <main>
            <section #home class="home">home</section>
            <section #about class="about">about</section>
            <section #portfolio class="portfolio">portfolio</section>
            <section #contact class="contact">contact</section>
          </main>
        </div>
      </main>
      <jm-footer></jm-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
